.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}

.logo-img {
  width: 15rem;
}

.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-item {
    margin-left: 10rem;
  }

  &-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $roxo-escuro;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      font-weight: bold;
      color: $roxo-escuro;
    }
  }
}
