.servicos {
  text-align: center;
  background-image: url(../../images/fundo2.png);
  background-size: contain;
  padding: 10rem 2rem;

  &-cardRow {
    margin: 10rem auto 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.muitoMais {
  @include respons(big-tablet) {
    margin-bottom: 5rem;
  }
}

.servicoTipo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5rem auto 5rem;
  gap: 10rem;
  flex-wrap: wrap;

  @include respons(big-tablet) {
    flex-direction: column;
    gap: 2rem;
  }
  @include respons(big-tablet) {
    width: 100%;
  }

  &-inver {
    @include respons(big-tablet) {
      flex-direction: column-reverse;
    }
  }

  &-title {
    font-family: Roboto;
    font-size: 2.4erm;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
    color: $roxo-escuro;
  }

  &-row {
    flex: 1;
  }

  &-img {
    width: 80%;
    border: 4px solid $roxo-claro;
    border-radius: 5px;
    @include respons(big-tablet) {
      margin-bottom: 10rem;
    }

    &-spaDay {
      @include respons(big-tablet) {
        display: none;
      }
    }
  }
}

@include respons(big-tablet) {
  .spaDay > .servicoTipo {
    display: block;
  }
}
