.main-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 130%;
  color: $roxo-escuro;
}

.page-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: $roxo-escuro;
}

.page-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  color: $roxo-claro;
}

.page-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.5em;
  color: $roxo-claro;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $roxo-claro;
}
